body {
  min-width: 386px;
}

// region Navigation bar
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: transparent;


  .logo {
    width: 44px;
    position: relative;
    top: 2px;
  }

  ul {
    display: flex;
    list-style: none;
    align-items: center;

    li {
      margin-left: 2rem;

      a {
        color: white;
        text-decoration: none;
        text-transform: capitalize;
        display: none;

        &:hover {
          cursor: pointer;
          text-decoration: underline 2px;
        }
      }

      .cta {
        font-size: $p-size * 0.9;
        padding: 6px 1.5em;
        border: 1px solid white;
        border-radius: 20px;
        background-color: transparent;
        color: white;
        display: flex;
        align-items: center;
        opacity: 0.9;
        transition: all 0.3s linear;
        font-family: $bodyText;
        font-weight: $a-weight;

        [class="material-icons"] {
          margin-left: 4px;
        }

        &:hover {
          background-color: white;
          cursor: pointer;
          color: $bg-dark;
          text-decoration: none;
        }
      }
    }
  }
}

//endregion

//region Hero page layout

.hero {
  //width: 66.6%;
  margin: 0 auto;
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;

  .message {
    position: absolute;
    top: 33%;
    margin: 0 auto;
    min-width: 375px;
    max-width: 650px;

    h1 {
      opacity: 0.9;
      font-size: $h1-size * 0.5;
      text-align: center;
    }

    h3 {
      opacity: 0.5;
      font-size: $h3-size * 0.5;
      text-align: center;
    }
  }

  .blob {
    display: none;
  }
}

//endregion

//region Intro Page Layout
.intro {
  width: 100vw;
  height: 120vh;

  position: relative;
  //left: -20px;
  bottom: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .circle {
    position: absolute;
    transform-origin: top;
    top: 0;
    width: 100px;
    transition: 0.2s ease-out all;
  }

  h2 {
    text-align: center;
    z-index: 10;
  }
}

//  endregion

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2em;

  .highlighter {
    transform-origin: left;
    position: relative;
    top: -0.8em;
    height: 0.3em;
    opacity: 0.8;
    background-color: $blue;
    transform: scaleX(0);
  }
}

//  region About Page Layout
.about {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .title {
    margin-top: 80px;
    h2 {
      text-align: center;
      z-index: 10;
    }

    .highlighter {
      width: 120px;
    }
  }

  .interactive {
    width: 90%;
    margin: 0 auto;
    margin-top: 14vh;
    p {
      margin-top: 0.8em;
      line-height: 1.5;
      font-size: $p-size*1.1;

      a {
        font-size: $p-size*1.1;
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    padding-bottom: 80px;
  }
}

//  endregion

//  region Work Page Layout
.work {
  width: 100vw;
  position: relative;
  //left: -20px;

  .title {
    position: sticky;
    top: 8vh;

    padding-bottom: 20vh;

    h2 {
      text-align: center;
      z-index: 10;
    }

    .highlighter {
      width: 66px;
    }
  }

    .portfolios {
      width: 100%;

      ul li {
        position: relative;

        a {
          display: flex;
          justify-content: center;
          padding-bottom: 15vh;
          overflow: hidden;

        }

      a img {
        width: 100%;
        max-width: 550px;
      }
    }
  }
}

//  endregion

//  region Contact Page Layout

.contact {
  height: 85vh;
  min-height: 600px;
  min-width: 368px;
  //border: 1px solid red;
  padding-top: 150px;
  padding-bottom: 200px;


  .title {

    h2 {
      text-align: center;
      z-index: 10;
      width: 300px;
    }

    .highlighter {
      width: 300px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      transition: all 0.3s ease-in-out;
      margin-top: 3em;

      &:hover {
        cursor: pointer;
        text-decoration: underline 2px;
      }

      a {
        color: white;
        text-transform: capitalize;
        text-decoration: none;
      }
    }
  }
}

//  region

//  region Footer Layout
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5em auto;

  p {
    text-align: center;
    opacity: 0.5;
    font-size: $p-size * 0.8;
  }
}
//  region


// region Interactive Text
.interactive {
  .hidden {
    display: none;
  }

  .visible {
    display: block;
  }

  .next {
    //background-color: crimson;
    transition: all 0.3s ease-in-out;
    text-decoration: underline 1px !important;

    &:hover, :focus {
      cursor: pointer;
      text-decoration: gray line-through 1px !important;
      //background-color: $purple;
      color: gray;
    }



  }
}

section#about.about div.interactive p span.final.visible {
  margin-top: 20px;
  font-size: $p-size*1.5;
  display: flex;
  align-items: center;


  .material-icons {
    color: $green;
    margin-right: 1em;
    animation-name: done;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
  }

  @keyframes done {
    from {transform: scale(0);}
    to {transform: scale(1.2)}
  }
}


// endregion
