@media screen and (max-width: 48em) {
  // region Navigation bar
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    background-color: $bg-dark;
    position: sticky;
    top: 0;
    z-index: 20;

    .logo {
      width: 44px;
      position: relative;
      top: 2px;
    }

    ul {
      display: flex;
      list-style: none;
      align-items: center;

      li {
        margin-left: 2.5rem;

        a {
          color: white;
          text-decoration: none;
          text-transform: capitalize;
          display: none;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }


        }

        .cta {
          font-size: $p-size * 0.9;
          font-weight: 400;
          padding: 6px 1.5em;
          border: 1px solid white;
          border-radius: 20px;
          background-color: transparent;
          color: white;
          display: flex;
          align-items: center;
          opacity: 0.9;
          transition: all 0.3s linear;
          font-family: $bodyText;

          [class="material-icons"] {
            margin-left: 4px;
          }

          &:hover {
            background-color: white;
            cursor: pointer;
            color: $bg-dark;
            text-decoration: none;
          }
        }
      }
    }
  }

  //endregion

  //region Hero page layout

  body {
    min-width: 375px;
  }

  .hero {
    width: 66.6%;
    margin: 0 auto;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;

    .message {
      position: absolute;
      top: 33%;
      margin: 0 auto;
      min-width: 375px;

      h1 {
        opacity: 0.9;
        font-size: $h1-size * 0.5;
        text-align: center;
      }

      h3 {
        opacity: 0.5;
        font-size: $h3-size * 0.5;
        text-align: center;
      }
    }

    .blob {
      display: none;
    }
  }

  //endregion

  //region Intro Page Layout
  .intro {
    width: 100vw;
    height: 100vh;
    position: relative;
    left: -20px;
    bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .circle {
      position: absolute;
      transform-origin: top;
      top: 0;
      width: 100px;
      transition: 0.2s ease-out all;
    }

    h2 {
      text-align: center;
      z-index: 10;
    }
  }

  //  endregion

  .title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .highlighter {
      position: relative;
      top: -14px;
      height: 8px;
      opacity: 0.8;
      background-color: $blue;
      transition: all 0.3s ease-in-out;
    }

  }

  //  region About Page Layout
  .about {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 1px solid red;

    .title {

      h2 {
        text-align: center;
        z-index: 10;
      }

      .highlighter {
        width: 34%;
      }
    }


    .interactive {
      p {
        margin-top: 0.8em;
        line-height: 1.5;
      }

      padding-bottom: 80px;
    }
  }

  //  endregion

  //  region Work Page Layout
  .work {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 1px solid red;



    .title {
      padding: 1.5em;
      h2 {
        text-align: center;
        z-index: 10;
      }

      .highlighter {
        width: 18%;
      }
    }

    .portfolios {
      width: 100%;

      ul {
        list-style: none;

        li {
          a img {
            width: 100%;
          }

        }
      }
    }


  }

  //  endregion

  //  region Contact Page Layout

  .contact {
    height: 66vh;

    h2 {
      text-align: center;
      margin-top: 50%;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10%;

      li {
        margin-top: 16%;
        transition: all 0.3s ease-in-out;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }

        a {
          color: white;
          text-transform: capitalize;
          text-decoration: none;
        }
      }
    }
  }

  //  region

  //  region Footer Layout
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5em auto;

    p {
      text-align: center;
      opacity: 0.5;
      font-size: $p-size * 0.8;
    }
  }
  //  region
}
