$heading: "Poppins", sans-serif;
$bodyText: "Playfair Display", serif;

$h1-size: 64px;
$h2-size: 48px;
$h3-size: 30px;

$h4-size: 18px;
$p-size: 16px;

$h1-weight:600;
$h2-weight:600;
$h3-weight:400;
$a-weight: 700;

$purple:#AD4BED;
$blue:#2196f3;
$orange: #ff9800;
$green: #8bc34a;
$red: #e51a21;

$bg-dark: #333335;
$bg-lightGray: #1a2839;


$image-width: 520px;
$image-height: 330px;

$logo-width:42px;
$logo-height:30px;
